<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoogleGson" version="2.8.1" targetFramework="monoandroid81" />
  <package id="Kwon.Mapbox.Sdk.Core" version="3.3.0.1" targetFramework="monoandroid81" />
  <package id="Kwon.Mapbox.Sdk.Geojson" version="3.3.0.1" targetFramework="monoandroid81" />
  <package id="Kwon.Square.Retrofit2" version="2.3.0.1" targetFramework="monoandroid81" />
  <package id="Kwon.Squareup.OkHttp3.Logging-interceptor" version="3.9.1.1" targetFramework="monoandroid81" />
  <package id="Kwon.Squareup.OkHttp3.OkHttp" version="3.10.0.1" targetFramework="monoandroid81" />
  <package id="Kwon.Squareup.Retrofit2.Retrofit-converter" version="2.3.0.1" targetFramework="monoandroid81" />
  <package id="NuGet.Build.Packaging" version="0.2.2" targetFramework="monoandroid81" developmentDependency="true" />
  <package id="Square.OkIO" version="1.13.0" targetFramework="monoandroid81" />
</packages>